# .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log
*.vs/

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Configuración local (opcional, si quieres que cada uno tenga su propio puerto)
# appsettings.Development.json
repomix**.xml

logs/*